---
import "../styles/index.css"
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import Skills from "../components/Skills.astro"
import Projects from "../components/Projects.astro"
import {name} from "../constants/constants"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{name} Portfolio</title>
	</head>
	<body>
		<!-- Header and Navigation Section -->
		<Header></Header>

		<!-- Hero Section -->
		<Hero></Hero>

		<!-- Skills Section -->
		<Skills></Skills>

		<!-- Projects Section -->
		<Projects></Projects>
	</body>
</html>
