---
import "../styles/index.css"

---

<section class="projects" id="projects">
			<div class="container">
				<h2 class="section-title fade-in">My Projects</h2>
				<div class="project-grid">
					<div class="project-card fade-in stagger-1">
						<div class="project-info">
							<h3>Towers of Hanoi</h3>
							<p class="project-description">A pathfinding program, using the A* algorithm to find the optimal path for a towers of hanoi game (3 towers 3 rings).</p>
							<div class="project-tech">
								<span class="tech-tag">C++</span>
								<span class="tech-tag">A* algorithm</span>
							</div>
							<div class="project-links">
                                <a href="https://github.com/bramirez246/Course-work/tree/main/Towers-of-hanoi" target="_blank" rel="noopener noreferrer">Source Code</a>
                            </div>
						</div>
						<div class="project-visual">🧩</div>
					</div>
					<div class="project-card fade-in stagger-2">
						<div class="project-info">
							<h3>Alarm Clock App</h3>
							<p class="project-description">A group project app, in which I was in charge of the timer fragment. This is a basic alarm clock that features a timer, stop watch, and pomodoro clock.</p>
							<div class="project-tech">
                                <span class="tech-tag">Kotlin</span>
                                <span>Android Studio</span>
                            </div>
							<div class="project-links">
                                <a href="https://github.com/bramirez246/Course-work/tree/main/Alarm%20Clock%20App/app/src/main/java/com/example/pomodoroclock" target="_blank" rel="noopener noreferrer">Source Code</a>
                            </div>
						</div>
						<div class="project-visual">⏰</div>
					</div>
					<div class="project-card fade-in stagger-3">
						<div class="project-info">
							<h3>Deduce Program</h3>
							<p class="project-description"></p>
							<div class="project-tech"></div>
							<div class="project-links"></div>
						</div>
						<div class="project-visual"></div>
					</div>
					
				</div>
			</div>
		</section>